<div class="audio-player">
    <p>asdasdasd asdas</p>
    <div *ngIf="mix">{{mix.urlTitle}}</div>

    <!-- <div class="col-md-10 audio-information">
        <p>
            <img ng-src="{{ArtWorkUrl}}" class="artwork" alt="Track cover" id="artwork" />
            <span>{{Introduction}} {{TitleInformation}}</span>
            <span class="host" id="host">
                hosted on
                <a href="{{TrackUrl}}" target="_blank"><img src="/img/soundcloud-white.png" alt="SOUNDCLOUD"></a>
            </span>
        </p>
    </div>
    <div class="col-md-2 shuffle-mode" id="shuffle-container">
        <p>Shuffle mixes:
            <input type="checkbox" class="switch" id="shuffle" name="shuffle" checked>
        </p>
    </div>
    <audio id="audio" controls preload="none" name="media">
        <source type="audio/mpeg">
    </audio> -->
</div>