.mix {
    margin-bottom: 40px;
    h1 {
        font-size: larger;
        a {
            color: white;
        }
    }
    .artist,
    .track,
    .genre,
    .record-label {
        font-weight: 700;
    }
    .info {
        background-color: #161616;
        padding: 6px 12px 6px 24px;
        input[type=button] {
            background-color: #161616;
            font-size: 20px;
            color: #fff;
            padding-left: 0;
        }
        span {
            margin-left: 10px;
            font-size: 15px;
        }
        .host {
            text-align: right;
            font-size: 12px;
            text-transform: uppercase;
            vertical-align: middle;
            margin-top: 6px;
            p {
                margin-bottom: 0;
            }
            img {
                vertical-align: sub;
            }
        }
    }
}