@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./variables";
@import "./mixins";

/********************************
* Allgemeines
********************************/

body {
    background-image: url(/assets/img/linen.jpg);
    background-repeat: repeat;
    -webkit-font-smoothing: antialiased;
    max-width: 100%;
    line-height: 30px;
    padding-top: 10px;
    color: $rh-font-color;
    font-family: $rh-font-family-sans-serif;
    font-size: 18px;
}


/********************************
* Komponenten und Abschnitte
********************************/

section {
    margin-bottom: 40px;
}

.component {
    display: block;
    width: 100%;
}


/********************************
* Überschriften
********************************/

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    font-family: 'Droid Serif', serif;
    margin-top: 20px;
    margin-bottom: 10px;
}


/********************************
* Links
********************************/

a,
a:link,
a:visited,
a:hover,
a:active {
    color: $rh-link-color;
    text-decoration: none;
    cursor: pointer;
}

h1 a,
h1 a:hover {
    color: white;
    text-decoration: none;
}


/********************************
* Tabellen
********************************/

.table {
    background-color: #292929;
    margin-bottom: 0;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #242424;
}


/**************************************
* Komponenten: Diese werden eigentlich 
* in den komponentenspezifischen SCSS-
* Dateien gestylt; ggf. müssen hier 
* aber ein paar Angaben mit globalerem
* Scope geschrieben werden
**************************************/

.mixes .mix .tracklist {
    max-height: 300px;
}